.sidebar-container{
   position: fixed;
   top: 50px;
   bottom: 0;
   left: 0;
   width: 70px;
   z-index: 101;
   background-color: white;
  
}

.link-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 68px;
}

.link-icon:hover{
    background-color: rgb(235, 235, 235);
}

.link-icon img{
    height: 22px;
    color: white;
    display: flex;
    margin-bottom: 5px;
}

.link-icon div {
    font-family: Roboto, arial;
    font-size: 10px;
}